* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica';
	letter-spacing: 0.1rem;
	color: white;
}

:root {
	--container-main-color: #171717;
	--subcontainer-main-color: #404040;
	--subcontainer-secondary-color: #262626;
	--container-alt-color: #d97706;
	--font-main-color: #fafafa;
	--transition-main: all 0.35s ease-in-out;
	--shadow-main: var(--container-main-color) 0px 19px 38px,
		var(--container-main-color) 0px 15px 12px;
	--shadow-alt: var(--container-main-color) 4px 4px 20px;
}

body {
	height: 100vh;
	width: 100vw;
	background-image: url(../assets/world.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	height: 97%;
	width: 97%;
	background-color: rgb(0, 0, 0, 0.7);
	padding: 2rem;
	display: grid;
    grid-template-columns: minmax(350px, 450px) 1fr minmax(350px, 450px);
    grid-template-rows: 500px 1fr 280px;
}

.container button {
    color: black;
    padding: .25rem .5rem;
}

// START OF WEATHER WRAPPER STYLING //
// START OF WEATHER WRAPPER STYLING //
// START OF WEATHER WRAPPER STYLING //

#weather-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    gap: 1rem;
    background-color: rgb(0, 0, 0, 0.3);
    border: 1px solid var(--font-main-color);
    box-shadow: var(--shadow-main);
}

#weather-wrapper #forecast {
    font-size: 2rem;
    margin-top: 1.75rem;
    color: var(--container-alt-color);
}

#weather-wrapper #location {
    font-style: italic;
    letter-spacing: .2rem;
    font-weight: bold;
}

#weather-wrapper #temp {
    font-size: 3rem;
    font-weight: bolder;
    margin-top: .5rem;
}

#current-weather {
    height: 100px;
    width: 120px;
    margin-top: .5rem;
}

#weather-wrapper .search-button-wrapper {
    display: flex;
    margin: 1rem 0 0 2rem;
}

#search-box {
    padding: .25rem .5rem;
    appearance: none;
    outline: none;
    border: 1px solid var(--subcontainer-main-color);
    color: black;
    border-radius: 4px;
    height: 35px;
}

#search-button {
    position: relative;
    left: -40px;
    bottom: -1px;
    height: 33px;
    width: 46px;
    border: none;
    border-left: 1px solid var(--subcontainer-main-color);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#search-button svg {
    cursor: pointer;
    transition: var(--transition-main);
}

#search-button svg:hover {
    transform: translateY(-2.5%);
}

#search-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

// END OF WEATHER WRAPPER STYLING //
// END OF WEATHER WRAPPER STYLING //
// END OF WEATHER WRAPPER STYLING //

// --------------------------------------- //

// START OF PRECIPITATION WRAPPER STYLING //
// START OF PRECIPITATION WRAPPER STYLING //
// START OF PRECIPITATION WRAPPER STYLING //

#precipitation-wrapper {
    padding: .5rem 0 .5rem 3rem;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem; 
    background-color: rgb(0, 0, 0, 0.3);
    border: 1px solid var(--font-main-color);
    box-shadow: var(--shadow-main);
}

#precipitation-wrapper svg {
    height: 32px;
    width: 32px;
    padding-top: .25rem;
}

#precipitation-wrapper .precip-info-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 1rem;
}

#precipitation-wrapper .wrappers .precip-info-container p:nth-of-type(1) {
    font-size: 1.5ch;
    font-weight: bold;
    color: var(--container-alt-color);
}

#precipitation-wrapper .wrappers .precip-info-container p:nth-of-type(2) {
    font-size: 2ch;
}

#precipitation-wrapper .precip-info-container p:nth-of-type(1) {
    letter-spacing: .15rem;
    font-size: 1.05rem;
}

#precipitation-wrapper .precip-info-container p:nth-of-type(2) {
    margin-right: auto;
    padding-left: .5rem;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: .15rem;
}

#precipitation-wrapper svg {
    width: 50px;
    height: 50px; 
    fill: white;
}

#precipitation-wrapper div {
    display: flex;
    align-items: center;
}

#precipitation-wrapper div p:nth-of-type(1) {
    margin: 0 1rem 0 .5rem;
}

// END OF PRECIPITATION WRAPPER STYLING //
// END OF PRECIPITATION WRAPPER STYLING //
// END OF PRECIPITATION WRAPPER STYLING //

// ----------------------------------------- //

// START OF TEMP TRACK WRAPPER STYLING //
// START OF TEMP TRACK WRAPPER STYLING //
// START OF TEMP TRACK WRAPPER STYLING //

#temp-track-wrapper {
    padding: .5rem;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    background-color: rgb(0, 0, 0, 0.3);
    border: 1px solid var(--font-main-color);
    box-shadow: var(--shadow-main);
}

.button-wrapper {
    margin-left: 1.1rem;
    display: flex;
    gap: 1rem;
}

#daily, #hourly, #temp-format {
    appearance: none;
    outline: none;
    width: 110px;
    color: var(--font-main-color);
    border: 2px solid var(--font-main-color);
    background-color: black;
    border-radius: 2px;
    padding: .25rem .5rem;
    cursor: pointer;
    transition: all .35s ease;
}

#daily:hover, #hourly:hover, #temp-format:hover {
    border: 2px solid var(--container-alt-color);
    color: var(--main-font-color);
    transform: translateY(-5%);
}

// HOURLY TEMPS //

#temp-track-wrapper {
    padding: 1rem;
}

#daily-hourly-wrapper {
    display: flex; 
    gap: .5rem;
    padding: 1rem;
}

#daily-hourly-wrapper.daily {
    justify-content: space-around;
}

.wrapper-hourly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 180px;
    margin-top: .5rem;
    padding-top: .25rem;
    background-color: rgb(0, 0, 0, 0.4);
    border-bottom: 2px solid var(--container-alt-color);
    padding: .25rem;
    height: 200px;
}   

.time-hourly {
    font-size: 2ch;
    color: var(--container-alt-color);
    margin-top: .25rem;
}

.temp-hourly {
    font-size: 3.5ch;
    font-weight: bold;
    margin-top: .25rem;
}

.icon-hourly {
    font-size: 1.4ch;
}

.wrapper-daily {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 180px;
    margin-top: .5rem;
    padding-top: .25rem;
    background-color: rgb(0, 0, 0, 0.4);
    border-bottom: 2px solid var(--container-alt-color);
    padding: .25rem;
}

.wrapper-daily.active {
    height: 200px;
}

.day-daily {
    font-size: 2ch;
    color: var(--container-alt-color);
    margin-top: .25rem;
}

.temp-daily.max {
    font-size: 3ch;
    font-weight: bold;
    margin-top: .25rem;
}

.temp-daily.min {
    font-size: 1.25ch;
    font-weight: bold;
    margin-top: .25rem;
}

.icon-daily {
    font-size: 1.4ch;
}